@font-face {
  font-family: "Toutiao";
  /* Project id 2828840 */
  src: url('//at.alicdn.com/t/font_2828840_40kdq6nvzcy.woff2?t=1632364080609') format('woff2'), url('//at.alicdn.com/t/font_2828840_40kdq6nvzcy.woff?t=1632364080609') format('woff'), url('//at.alicdn.com/t/font_2828840_40kdq6nvzcy.ttf?t=1632364080609') format('truetype');
}
.Toutiao {
  font-family: "Toutiao" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.Toutiao-pinglun:before {
  content: "\e602";
}
.Toutiao-fenxiang:before {
  content: "\e603";
}
.Toutiao-shouji:before {
  content: "\e604";
}
.Toutiao-shoucang:before {
  content: "\e605";
}
.Toutiao-sousuo:before {
  content: "\e606";
}
.Toutiao-wode:before {
  content: "\e607";
}
.Toutiao-shanchu:before {
  content: "\e608";
}
.Toutiao-youjiantou:before {
  content: "\e609";
}
.Toutiao-shouye:before {
  content: "\e60a";
}
.Toutiao-dianzan2:before {
  content: "\e60b";
}
.Toutiao-zuojiantou:before {
  content: "\e60c";
}
.Toutiao-wenda:before {
  content: "\e60d";
}
.Toutiao-lishi:before {
  content: "\e60e";
}
.Toutiao-wuwangluo:before {
  content: "\e60f";
}
.Toutiao-yanzhengma:before {
  content: "\e610";
}
.Toutiao-guanbi:before {
  content: "\e611";
}
.Toutiao-dianzan:before {
  content: "\e612";
}
.Toutiao-gengduo:before {
  content: "\e613";
}
.Toutiao-zuopin:before {
  content: "\e614";
}
.Toutiao-shipin:before {
  content: "\e615";
}
.Toutiao-yuedu:before {
  content: "\e616";
}
.page-nav-bar {
  background-color: #3296fa !important;
}
.page-nav-bar .van-nav-bar__title {
  color: #fff;
}
